*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Poppins, serif;
    font-size: 16px;
    color: #FFFFFF;
}

/*==================================*/
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"] {
    max-width: 1305px;
    margin: 0 auto;
    padding: 0 15px;
}

/*==================================*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 60;
}

.header__content {
    display: flex;
    max-width: 1422px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    min-height: 68px;
}

.header__menu {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    gap: 33px;
}

.menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__link {
    font-family: Inter, serif;
    font-weight: 400;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
}

.header__button {
    background: rgba(0, 0, 0, 1);
    padding: 12px 24px;
    border-radius: 8px;
}

.button__contact {
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

/*==================================*/
.main {
    flex: 1 1 auto;
}

.picture {
    display: flex;
    margin-top: 68px;
}

.picture img {
    width: 100%;
    max-height: 595px;
    overflow: hidden;
}

/*==================================*/
.healthy {
    max-height: 295px;
    margin-top: 74px;
}

.healthy__container {
    display: flex;
    justify-content: space-between;
}

.healthy__title {
    max-width: 400px;
}

.healthy__title p {
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 128%;
    color: #000000;
}

.healthy__content {
    max-width: 560px;
}

.healthy__text {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.healthy__buttons {
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

.buttons__explore {
    border: none;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    background: black;
    padding: 12px 24px;
    border-radius: 8px;
}

.buttons__signup {
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    background: white;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #000000;
}

/*==================================*/
.revolutionize {
    margin-top: 80px;
    background: #F9F8FE;
}

.revolutionize__container {
    display: flex;
    padding: 112px 0;
    gap: 90px;
}

.revolutionize__content {
    max-width: 599px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.revolutionize__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text__typography {
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.text__title {
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 128%;
    color: #000000;
}

.text__description {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.revolutionize__info {
    display: flex;
    gap: 24px;
}

.revolutionize__explore {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.explore__title {
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #000000;
}

.explore__subtitle {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.revolutionize__inspire {
    max-width: 290px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inspire__title {
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #000000;
}

.inspire__subtitle {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.revolutionize__buttons {
    display: flex;
    gap: 16px;
}

.buttons__learn {
    padding: 12px 24px;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
}

.buttons__signUp {
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.buttons__signUp div {
    width: 7px;
    height: 7px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    rotate: 45deg;
}

.revolutionize__image {
    max-width: 601px;
    max-height: 601px;
}

/*==================================*/
.discover {
    margin: 108px 0;
}

.discover__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.discover__content {
    max-width: 848px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.discover__text {
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.discover__info {
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 128%;
    color: #000000;
}

.discover__description {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.discover__cards {
    display: flex;
    gap: 48px;
}

.discover__card {
    max-width: 395px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.card__img {

}

.card__title {
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #000000;
}

.card__description {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.discover__buttons {
    display: flex;
    gap: 16px;
}

/*==================================*/
.secrets {
    padding: 112px 0;
    background: #F9F8FE;
}

.secrets__container {
    display: flex;
    justify-content: space-between;
}

.secrets__content {
    max-width: 599px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.secrets__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.secrets__text {
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}

.secrets__title {
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 128%;
    color: #000000;
}

.secrets__description {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.secrets__buttons {
    display: flex;
    gap: 16px;
}

/*==================================*/
.lifeblend {
    margin: 94px 0;
}

.lifeblend__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.lifeblend__title {
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 128%;
    color: #000000;
}

.lifeblend__cards {
    display: flex;
    gap: 48px;
}

.lifeblend__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card__image {

}

.card__title {
    text-align: center;
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    color: #000000;
}

.card__description {
    text-align: center;
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

/*==================================*/
.impact {
    background: #F9F8FE;
    padding: 112px 0;
}

.impact__container {
    display: flex;
    gap: 80px;
}

.impact__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.impact__info {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.impact__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.impact__title {
    font-family: Montserrat, serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 128%;
    color: #000000;
}

.impact__description {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
}

.impact__blocks {
    display: flex;
    gap: 16px;
}

.impact__block {
    max-width: 292px;
}

.block__title {
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 160%;
    color: #000000;
}

.block__description {
    font-family: Poppins, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

.impact__buttons {
    display: flex;
    gap: 16px;
}
/*==================================*/
